<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layout/viewlayout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div layout:fragment="context">
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Pet Type</th>
                <th>Owner Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pet:${pets}">

                <td th:text="${pet.name}"></td>
                <td th:text="${pet.dateofbirth}"></td>
                <td th:text="${pet.petType}"></td>
                <td th:text="${pet.owner.firstName}"></td>
            </tr>

            </tbody>
        </table>
        </div>
    </div>
</body>
</html>
